@media (max-width: 2366px) {

}
@media (max-width: 1024px) {
	#time-container {
		width: 350px;
		height: 350px;
	}
	.clock-container {
		margin-bottom: 20px;
	}
	.mainarea h3 {
		margin-bottom: 15px;
		font-size: 20px;
		line-height: 24px;
	}
	.side-page {
		position: relative;
		top: 0;
		display: none;
	}
	.side-page.side-left,
	.side-page.side-right {
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	.side-page.active {
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
		display: block;
	}
	.mainarea h2 {
		padding-top: 50px;
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 20px;
	}
	.services li p {
		font-size: 13px;
		line-height: 16px;
	}
	.mainarea-content {
		position: relative;
		height: auto;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
		perspective: none;
	}
	body {
		overflow: auto;
	}
	.mainarea {
		height: auto;
		display: block;
	}
	.close {
		top: 75px;
		right: 20px;
	}
}
@media (max-width: 768px) {
	.close {
		width: 30px;
		height: 30px;
	}
	.close img {
		width: 100%;
		height: auto;
	}
	.services li {
		margin: 0 15px;
	}
	.side-page .container {
		padding: 20px 30px;
		font-size: ;
	}
	.mainarea-content {
		padding-bottom: 20px;
		display: none;
	}
	.mainarea-content {
		min-height: 0;
		padding: 0;
	}
	.mainarea-content.active {
		display: block;
	}
	.mainarea p {
		margin-bottom: 15px;
		font-size: 14px;
		line-height: 18px;
	}
	.show_toggle {
		display: block;
	}
	.twitter-container {
		display: none;
	}
	.social-container {
		left: 0;
		right: 0;
		position: absolute;
		bottom: 0;
		padding-bottom: 20px;
		text-align: center;
	}
	.social li {
		display: inline-block;
		float: none;
	}
}

@media (max-width: 351px) {
  #time-container {
  	width: 280px;
  	height: 280px;
  }

}
