@media (max-width: 2366px) {

	#time-container {
		width: 450px;
		height: 450px;
	}

}
@media (max-width: 1024px) {
	#time-container {
		width: 350px;
		height: 350px;
	}
	.clock-container {
		margin-bottom: 20px;
	}

	#time-container {
		width: 450px;
		height: 450px;
	}

}
@media (max-width: 764px) {
	.mainarea p {
		margin-bottom: 15px;
		font-size: 20px;
		line-height: 22px;
	}
	.mainarea h3 {
			margin-bottom: 15px;
			font-size: 26px;
			line-height: 28px;
	}
	.mainarea h2 {
		/* padding-top: 50px; */
		font-size: 36px;
		line-height: 39px;
		margin-bottom: 20px;
	}
}
@media (max-width: 600px) {
	#time-container {
		width: 400px;
		height: 400px;
	}
	.mainarea p {
		margin-bottom: 15px;
		font-size: 16px;
		line-height: 18px;
	}
	.mainarea h3 {
			margin-bottom: 15px;
			font-size: 26px;
			line-height: 28px;
	}
	.mainarea h2 {
		font-size: 36px;
		line-height: 39px;
		margin-bottom: 20px;
	}
	#myVideo {
		position: fixed;
		right: -610px;
		min-width: 1600px;
		height: 900px;
	}
}
@media (max-width: 500px) {
  #time-container {
  	width: 300px;
  	height: 300px;
  }
	#myVideo {
		position: fixed;
		right: -610px;
		min-width: 1600px;
		height: 900px;
	}

}
